Ferreira_Andrade_Deploy.json
{
  "name": "Ferreira Andrade Deploy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        0
      ],
      "id": "fd13426b-9393-4275-a1e0-2f46b190cd9b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        0
      ],
      "id": "7cdf614b-a1e9-4f4c-b6f0-f8c2882cf339",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai-outgoing-call.onrender.com/start-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"+55{{ $('getAllLeads').item.json.phone_number }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        0
      ],
      "id": "12a3b149-dcc5-480c-8d33-6e6f5066bb45",
      "name": "render-deploy",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v1.smsfunnel.com.br/integrations/lists/0195fdf1-ae15-708c-95ba-27a25065fc42/add-lead",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "=Bruno"
            },
            {
              "name": "phone",
              "value": "=5537998613000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "45541af5-9931-4e8f-ab23-ecbcde2789da",
      "name": "send-sms"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        0
      ],
      "id": "6c7627b6-f64e-4184-9824-06cc0ad93567",
      "name": "isCallEnd",
      "webhookId": "f217d88d-5b09-4f77-981f-3903664126c5"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1enbczlYEC7PpG5hgsO9wssG6FF83UrrmZDoV-X1L8yU",
        "options": {}
      },
      "name": "getAllLeads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -20,
        0
      ],
      "id": "36cb22f9-4bae-4956-b432-3121a9db34f1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SXx90LngOeM4AvOT",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "getAllLeads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "render-deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "render-deploy": {
      "main": [
        [
          {
            "node": "isCallEnd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send-sms": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAllLeads": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isCallEnd": {
      "main": [
        [
          {
            "node": "send-sms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dacbe342-6c87-4bb9-852c-4da97f3529db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2afe0a50681d729d8c9c16985235861c38f77e90f5efc61c38a404249f4ba8b"
  },
  "id": "S6gDVwLwKE0kJi1t",
  "tags": []
}