ultravox-twilio-n8n.json
{
    "nodes": [
      {
        "parameters": {
          "authentication": "oAuth2",
          "operation": "getRows",
          "sheetId": "SEU_SHEET_ID",
          "range": "A:B"
        },
        "name": "Buscar Contatos do Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "url": "https://api.ultravox.ai/api/calls",
          "method": "POST",
          "authentication": "none",
          "jsonParameters": true,
          "headers": {
            "X-API-Key": "={{$env.ULTRAVOX_API_KEY}}",
            "Content-Type": "application/json"
          },
          "bodyParametersJson": "={\n  \"systemPrompt\": \"Olá {{$json[\"Nome\"]}}, você foi selecionado para uma oferta exclusiva do Gol de Bet! {{$env.SYSTEM_PROMPT}}\",\n  \"model\": \"fixie-ai/ultravox\",\n  \"voice\": \"Keren-Brazilian-Portuguese\",\n  \"temperature\": 0.3,\n  \"firstSpeaker\": \"FIRST_SPEAKER_USER\",\n  \"medium\": { \"twilio\": {} }\n}"
        },
        "name": "Enviar Requisição para UltraVox",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [400, 300]
      },
      {
        "parameters": {
          "url": "https://api.twilio.com/2010-04-01/Accounts/{{$env.TWILIO_ACCOUNT_SID}}/Calls.json",
          "method": "POST",
          "authentication": "basicAuth",
          "jsonParameters": true,
          "bodyParametersJson": "={\n  \"Twiml\": \"<Response><Connect><Stream url='{{$json[\"joinUrl\"]}}'/></Connect></Response>\",\n  \"To\": \"{{$json[\"Telefone\"]}}\",\n  \"From\": \"{{$env.TWILIO_PHONE_NUMBER}}\"\n}"
        },
        "name": "Fazer Chamada via Twilio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [600, 300]
      }
    ],
    "connections": {
      "Buscar Contatos do Google Sheets": {
        "main": [
          [
            {
              "node": "Enviar Requisição para UltraVox",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Requisição para UltraVox": {
        "main": [
          [
            {
              "node": "Fazer Chamada via Twilio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
  